<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AlexGann_CPT_206_Lab_2.Properties.Settings.StateDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\StateDatabase.mdf;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="AlexGann_CPT_206_Lab_2.Properties.Settings.StateDatabaseConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\StateDatabase.mdf;Integrated Security=True;Encrypt=False;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>